<a href="https://colab.research.google.com/github/euntto/MY/blob/main/tsfresh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd 
import numpy as np

In [53]:
data_baseline = pd.read_csv("/datalab/SW2/RAW_CDM_DM_AI_DB1_Baseline_outcome.csv")
data_lab = pd.read_csv("/datalab/SW2/RAW_CDM_DM_AI_DB1_Lab_data.csv")
data_medication = pd.read_csv("/datalab/SW2/RAW_CDM_DM_AI_DB1_Medication.csv")

In [54]:
data_baseline[['ID', 'CENTER', 'PERSON_ID','BIRTH_DT']].isna().sum()

ID           0
CENTER       0
PERSON_ID    0
BIRTH_DT     0
dtype: int64

In [81]:
baseline_feature = ['ID', 'AGE', 'EVENT_YN','SEX']
lab_feature = ['ID', 'VISIT','GLU',  'A1C','GFR']


# In[167]:


def MERGE_TIME(data_baseline, data_lab, time):
    merged_data = pd.merge(data_baseline[baseline_feature], data_lab[(data_lab['VISIT']==time)][lab_feature], how='inner',left_on='ID',right_on = 'ID')
    return merged_data

In [82]:
merge_0 = MERGE_TIME(data_baseline, data_lab, 0)
merge_1 = MERGE_TIME(data_baseline, data_lab, 1)
merge_2 = MERGE_TIME(data_baseline, data_lab, 2)
merge_3 = MERGE_TIME(data_baseline, data_lab,  3)
merge_4 = MERGE_TIME(data_baseline, data_lab,  4)
merge_5 = MERGE_TIME(data_baseline, data_lab, 5)
merge_6 = MERGE_TIME(data_baseline, data_lab, 6)
merge_7= MERGE_TIME(data_baseline, data_lab,  7)
merge_8 = MERGE_TIME(data_baseline, data_lab,  8)
merge_9 = MERGE_TIME(data_baseline, data_lab,  9)
merge_10 = MERGE_TIME(data_baseline, data_lab,  10)

In [83]:
print(merge_10.shape)
print(merge_9.shape)
print(merge_8.shape)
print(merge_7.shape)
print(merge_6.shape)
print(merge_5.shape)
print(merge_4.shape)
print(merge_3.shape)
print(merge_2.shape)
print(merge_1.shape)
print(merge_0.shape)

(1713, 8)
(1959, 8)
(2221, 8)
(2486, 8)
(2829, 8)
(3172, 8)
(3541, 8)
(4010, 8)
(4585, 8)
(5942, 8)
(5942, 8)

In [84]:
merge_0 = pd.merge(merge_0.drop(columns = 'EVENT_YN'), merge_1[['ID', 'EVENT_YN']], how='inner', left_on = 'ID', right_on = 'ID')
merge_1 = pd.merge(merge_1.drop(columns = 'EVENT_YN'), merge_2[['ID', 'EVENT_YN']], how='inner', left_on = 'ID', right_on = 'ID')
merge_2 = pd.merge(merge_2.drop(columns = 'EVENT_YN'), merge_3[['ID', 'EVENT_YN']], how='inner', left_on = 'ID', right_on = 'ID')
merge_3 = pd.merge(merge_3.drop(columns = 'EVENT_YN'), merge_4[['ID', 'EVENT_YN']], how='inner', left_on = 'ID', right_on = 'ID')
merge_4 = pd.merge(merge_4.drop(columns = 'EVENT_YN'), merge_5[['ID', 'EVENT_YN']], how='inner', left_on = 'ID', right_on = 'ID')
merge_5 = pd.merge(merge_5.drop(columns = 'EVENT_YN'), merge_6[['ID', 'EVENT_YN']], how='inner', left_on = 'ID', right_on = 'ID')
merge_6 = pd.merge(merge_6.drop(columns = 'EVENT_YN'), merge_7[['ID', 'EVENT_YN']], how='inner', left_on = 'ID', right_on = 'ID')
merge_7 = pd.merge(merge_7.drop(columns = 'EVENT_YN'), merge_8[['ID', 'EVENT_YN']], how='inner', left_on = 'ID', right_on = 'ID')
merge_8 = pd.merge(merge_8.drop(columns = 'EVENT_YN'), merge_9[['ID', 'EVENT_YN']], how='inner', left_on = 'ID', right_on = 'ID')
merge_9 = pd.merge(merge_9.drop(columns = 'EVENT_YN'), merge_10[['ID', 'EVENT_YN']], how='inner', left_on = 'ID', right_on = 'ID')

In [85]:
print(merge_9.shape)
print(merge_8.shape)
print(merge_7.shape)
print(merge_6.shape)
print(merge_5.shape)
print(merge_4.shape)
print(merge_3.shape)
print(merge_2.shape)
print(merge_1.shape)
print(merge_0.shape)

(1713, 8)
(1959, 8)
(2221, 8)
(2486, 8)
(2829, 8)
(3172, 8)
(3541, 8)
(4010, 8)
(4585, 8)
(5942, 8)

In [86]:
# 나이 더하기 
merge_9['AGE'] = merge_9['AGE']+9
merge_8['AGE'] = merge_8['AGE']+8
merge_7['AGE'] = merge_7['AGE']+7
merge_6['AGE'] = merge_6['AGE']+6
merge_5['AGE'] = merge_5['AGE']+5
merge_4['AGE'] = merge_4['AGE']+4
merge_3['AGE'] = merge_3['AGE']+3
merge_2['AGE'] = merge_2['AGE']+2
merge_1['AGE'] = merge_1['AGE']+1

In [87]:
# merge_0 = merge_0.dropna()#.drop(columns = ['ID'])
# merge_1 = merge_1.dropna()#.drop(columns = ['ID'])
# merge_2 = merge_2.dropna()#.drop(columns = ['ID'])
# merge_3 = merge_3.dropna()#.drop(columns = ['ID'])
# merge_4 = merge_4.dropna()#.drop(columns = ['ID'])
# merge_5 = merge_5.dropna()#.drop(columns = ['ID'])
# merge_6 = merge_6.dropna()#.drop(columns = ['ID'])
# merge_7 = merge_7.dropna()#.drop(columns = ['ID'])
# merge_8 = merge_8.dropna()#.drop(columns = ['ID'])
# merge_9 = merge_9.dropna()#.drop(columns = ['ID'])

In [88]:
merge_0

               ID  AGE SEX  VISIT    GLU  A1C    GFR  EVENT_YN
0     300000027-3   49   M      0  148.0  6.7  49.85         0
1     300000049-2   76   M      0   82.0  6.2  48.46         0
2     300000126-1   78   F      0  123.0  6.9  39.26         0
3     300000155-2   66   F      0  108.0  7.4  56.60         0
4     300000237-3   56   F      0  232.0  7.8  54.87         0
...           ...  ...  ..    ...    ...  ...    ...       ...
5937  301489735-1   49   M      0  187.0  7.0  58.58         1
5938  301553239-1   68   F      0  120.0  6.9  57.84         0
5939  301675542-1   70   M      0  256.0  6.6  30.96         0
5940  301813146-1   61   F      0  139.0  9.0  31.99         0
5941  301919342-2   78   F      0   98.0  8.5  57.37         0

[5942 rows x 8 columns]

In [89]:
# github 적용

In [107]:
total_data = pd.concat([merge_0, merge_1, merge_2, merge_3, merge_4
                        , merge_5, merge_6, merge_7, merge_8, merge_9],axis=0)
total_data.shape

(32458, 8)

In [108]:
total_data = total_data.dropna()

In [193]:
df, y = total_data.drop(columns = 'EVENT_YN'), total_data[['ID','EVENT_YN']]
df.head()

            ID  AGE SEX  VISIT    GLU  A1C    GFR
0  300000027-3   49   M      0  148.0  6.7  49.85
1  300000049-2   76   M      0   82.0  6.2  48.46
2  300000126-1   78   F      0  123.0  6.9  39.26
3  300000155-2   66   F      0  108.0  7.4  56.60
4  300000237-3   56   F      0  232.0  7.8  54.87

In [194]:
df['SEX'] = df['SEX'].replace("M",0).replace("F",1)
df

               ID  AGE  SEX  VISIT    GLU  A1C    GFR
0     300000027-3   49    0      0  148.0  6.7  49.85
1     300000049-2   76    0      0   82.0  6.2  48.46
2     300000126-1   78    1      0  123.0  6.9  39.26
3     300000155-2   66    1      0  108.0  7.4  56.60
4     300000237-3   56    1      0  232.0  7.8  54.87
...           ...  ...  ...    ...    ...  ...    ...
1706  301260164-1   88    1      9   98.0  7.0  37.65
1707  301274279-2   64    0      9  141.0  5.9  61.05
1708  301291488-1   82    1      9  209.0  6.5  30.39
1710  301336741-2   70    0      9  196.0  8.3  41.14
1712  301553239-1   77    1      9  134.0  6.8  74.48

[22871 rows x 7 columns]

In [112]:
extraction_settings = ComprehensiveFCParameters()

X = extract_features(df, column_id='ID', column_sort='VISIT',
                     default_fc_parameters=extraction_settings,
                     # we impute = remove all NaN features automatically
                     impute_function=impute)

Feature Extraction: 100%|██████████| 5/5 [18:36<00:00, 223.29s/it]

In [119]:
df

               ID  AGE  SEX  VISIT    GLU  A1C    GFR
0     300000027-3   49    0      0  148.0  6.7  49.85
1     300000049-2   76    0      0   82.0  6.2  48.46
2     300000126-1   78    1      0  123.0  6.9  39.26
3     300000155-2   66    1      0  108.0  7.4  56.60
4     300000237-3   56    1      0  232.0  7.8  54.87
...           ...  ...  ...    ...    ...  ...    ...
1706  301260164-1   88    1      9   98.0  7.0  37.65
1707  301274279-2   64    0      9  141.0  5.9  61.05
1708  301291488-1   82    1      9  209.0  6.5  30.39
1710  301336741-2   70    0      9  196.0  8.3  41.14
1712  301553239-1   77    1      9  134.0  6.8  74.48

[22871 rows x 7 columns]

In [150]:
X

             AGE__variance_larger_than_standard_deviation  ...  GFR__matrix_profile__feature_"75"__threshold_0.98
300000027-3                                           1.0  ...                                                0.0
300000049-2                                           0.0  ...                                                0.0
300000126-1                                           0.0  ...                                                0.0
300000155-2                                           1.0  ...                                                0.0
300000237-3                                           1.0  ...                                                0.0
...                                                   ...  ...                                                ...
301489735-1                                           1.0  ...                                                0.0
301553239-1                                           1.0  ...                                                0.0
301675542-1                                           1.0  ...                                                0.0
301813146-1                                           0.0  ...                                                0.0
301919342-2                                           1.0  ...                                                0.0

[5672 rows x 3935 columns]

In [195]:
y = data_baseline[data_baseline['ID'].isin(X.index.tolist())]['EVENT_YN']

In [177]:
y.index = X.index

In [179]:
X.shape

(5672, 3935)

In [178]:
y.shape

(5672,)

In [180]:
# y index를 id로 맞춰줘야함 
X_filtered = select_features(X, y)

In [181]:

X_filtered.head()

             GFR__quantile__q_0.2  ...  GFR__variance_larger_than_standard_deviation
300000027-3                 54.47  ...                                           1.0
300000049-2                 48.46  ...                                           0.0
300000126-1                 39.26  ...                                           0.0
300000155-2                 64.58  ...                                           1.0
300000237-3                 54.87  ...                                           1.0

[5 rows x 895 columns]

In [182]:

X_full_train, X_full_test, y_train, y_test = train_test_split(X, y, test_size=.4)
X_filtered_train, X_filtered_test = X_full_train[X_filtered.columns], X_full_test[X_filtered.columns]

In [183]:
classifier_full = DecisionTreeClassifier()
classifier_full.fit(X_full_train, y_train)
print(classification_report(y_test, classifier_full.predict(X_full_test)))

              precision    recall  f1-score   support

           0       0.86      0.83      0.84      1808
           1       0.40      0.45      0.43       461

    accuracy                           0.75      2269
   macro avg       0.63      0.64      0.63      2269
weighted avg       0.76      0.75      0.76      2269

In [186]:
from sklearn.metrics import confusion_matrix

cm1 = confusion_matrix(y_test,classifier_full.predict(X_full_test))
total1=sum(sum(cm1))
#####from confusion matrix calculate accuracy
accuracy1=(cm1[0,0]+cm1[1,1])/total1
print ('Accuracy : ', accuracy1)

sensitivity1 = cm1[0,0]/(cm1[0,0]+cm1[0,1])
print('Sensitivity : ', sensitivity1 )

specificity1 = cm1[1,1]/(cm1[1,0]+cm1[1,1])
print('Specificity : ', specificity1)

Accuracy :  0.75275451740855
Sensitivity :  0.8290929203539823
Specificity :  0.45336225596529284

In [184]:
classifier_filtered = DecisionTreeClassifier()
classifier_filtered.fit(X_filtered_train, y_train)
print(classification_report(y_test, classifier_filtered.predict(X_filtered_test)))

              precision    recall  f1-score   support

           0       0.87      0.84      0.85      1808
           1       0.44      0.49      0.47       461

    accuracy                           0.77      2269
   macro avg       0.65      0.67      0.66      2269
weighted avg       0.78      0.77      0.78      2269

In [188]:
cm1 = confusion_matrix(y_test,classifier_filtered.predict(X_filtered_test))
total1=sum(sum(cm1))
#####from confusion matrix calculate accuracy
accuracy1=(cm1[0,0]+cm1[1,1])/total1
print ('Accuracy : ', accuracy1)

sensitivity1 = cm1[0,0]/(cm1[0,0]+cm1[0,1])
print('Sensitivity : ', sensitivity1 )

specificity1 = cm1[1,1]/(cm1[1,0]+cm1[1,1])
print('Specificity : ', specificity1)

Accuracy :  0.7708241516086382
Sensitivity :  0.8423672566371682
Specificity :  0.49023861171366595

In [198]:
df

               ID  AGE  SEX  VISIT    GLU  A1C    GFR
0     300000027-3   49    0      0  148.0  6.7  49.85
1     300000049-2   76    0      0   82.0  6.2  48.46
2     300000126-1   78    1      0  123.0  6.9  39.26
3     300000155-2   66    1      0  108.0  7.4  56.60
4     300000237-3   56    1      0  232.0  7.8  54.87
...           ...  ...  ...    ...    ...  ...    ...
1706  301260164-1   88    1      9   98.0  7.0  37.65
1707  301274279-2   64    0      9  141.0  5.9  61.05
1708  301291488-1   82    1      9  209.0  6.5  30.39
1710  301336741-2   70    0      9  196.0  8.3  41.14
1712  301553239-1   77    1      9  134.0  6.8  74.48

[22871 rows x 7 columns]

In [221]:
df, y = total_data.drop(columns = 'EVENT_YN'), total_data[['ID','VISIT','EVENT_YN']]
df['SEX'] = df['SEX'].replace("M",0).replace("F",1)

In [222]:
df

               ID  AGE  SEX  VISIT    GLU  A1C    GFR
0     300000027-3   49    0      0  148.0  6.7  49.85
1     300000049-2   76    0      0   82.0  6.2  48.46
2     300000126-1   78    1      0  123.0  6.9  39.26
3     300000155-2   66    1      0  108.0  7.4  56.60
4     300000237-3   56    1      0  232.0  7.8  54.87
...           ...  ...  ...    ...    ...  ...    ...
1706  301260164-1   88    1      9   98.0  7.0  37.65
1707  301274279-2   64    0      9  141.0  5.9  61.05
1708  301291488-1   82    1      9  209.0  6.5  30.39
1710  301336741-2   70    0      9  196.0  8.3  41.14
1712  301553239-1   77    1      9  134.0  6.8  74.48

[22871 rows x 7 columns]

In [224]:
y.index = y['ID']
y = y['EVENT_YN']
y

ID
300000027-3    0
300000049-2    0
300000126-1    0
300000155-2    0
300000237-3    0
              ..
301260164-1    0
301274279-2    0
301291488-1    0
301336741-2    0
301553239-1    0
Name: EVENT_YN, Length: 22871, dtype: int64

In [ ]:
X_filtered_2 = extract_relevant_features(df, y, column_id='ID', column_sort='VISIT',
                                         default_fc_parameters=extraction_settings)

Feature Extraction:   0%|          | 0/5 [00:00<?, ?it/s]

In [230]:
y = data_baseline[data_baseline['ID'].isin(X.index.tolist())][['ID','EVENT_YN']]
y.index = y['ID']
y = y['EVENT_YN']

In [66]:
# github_example

In [216]:
%matplotlib inline

import matplotlib.pylab as plt

from tsfresh import extract_features, extract_relevant_features, select_features
from tsfresh.utilities.dataframe_functions import impute
from tsfresh.feature_extraction import ComprehensiveFCParameters

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [217]:
from tsfresh.examples import robot_execution_failures

robot_execution_failures.download_robot_execution_failures()
df, y = robot_execution_failures.load_robot_execution_failures()
df.head()

   id  time  F_x  F_y  F_z  T_x  T_y  T_z
0   1     0   -1   -1   63   -3   -1    0
1   1     1    0    0   62   -3   -1    0
2   1     2   -1   -1   61   -3    0    0
3   1     3   -1   -1   63   -2   -1    0
4   1     4   -1   -1   63   -3   -1    0

In [219]:
df

      id  time  F_x  F_y  F_z  T_x  T_y  T_z
0      1     0   -1   -1   63   -3   -1    0
1      1     1    0    0   62   -3   -1    0
2      1     2   -1   -1   61   -3    0    0
3      1     3   -1   -1   63   -2   -1    0
4      1     4   -1   -1   63   -3   -1    0
...   ..   ...  ...  ...  ...  ...  ...  ...
1315  88    10  -10    2   39  -21  -24    5
1316  88    11  -11    2   38  -24  -22    6
1317  88    12  -12    3   23  -24  -24    5
1318  88    13  -13    4   26  -29  -27    5
1319  88    14  -13    2   15  -25  -25    6

[1320 rows x 8 columns]

In [218]:
y

1      True
2      True
3      True
4      True
5      True
      ...
84    False
85    False
86    False
87    False
88    False
Length: 88, dtype: bool

In [69]:
extraction_settings = ComprehensiveFCParameters()

X = extract_features(df, column_id='id', column_sort='time',
                     default_fc_parameters=extraction_settings,
                     # we impute = remove all NaN features automatically
                     impute_function=impute)

Feature Extraction: 100%|██████████| 5/5 [00:24<00:00,  4.98s/it]

In [113]:

X.head()

             AGE__variance_larger_than_standard_deviation  ...  GFR__matrix_profile__feature_"75"__threshold_0.98
300000027-3                                           1.0  ...                                                0.0
300000049-2                                           0.0  ...                                                0.0
300000126-1                                           0.0  ...                                                0.0
300000155-2                                           1.0  ...                                                0.0
300000237-3                                           1.0  ...                                                0.0

[5 rows x 3935 columns]

In [114]:
X_filtered = select_features(X, y)

AssertionError: ignored

In [72]:

X_filtered.head()

   F_x__value_count__value_-1  ...  F_y__quantile__q_0.7
1                        14.0  ...                  -1.0
2                         7.0  ...                  -1.0
3                        11.0  ...                   0.0
4                         5.0  ...                   1.0
5                         9.0  ...                   0.8

[5 rows x 676 columns]

In [ ]:

X_full_train, X_full_test, y_train, y_test = train_test_split(X, y, test_size=.4)
X_filtered_train, X_filtered_test = X_full_train[X_filtered.columns], X_full_test[X_filtered.columns]

In [ ]:
classifier_full = DecisionTreeClassifier()
classifier_full.fit(X_full_train, y_train)
print(classification_report(y_test, classifier_full.predict(X_full_test)))

In [ ]:
classifier_filtered = DecisionTreeClassifier()
classifier_filtered.fit(X_filtered_train, y_train)
print(classification_report(y_test, classifier_filtered.predict(X_filtered_test)))

In [ ]:
X_filtered_2 = extract_relevant_features(df, y, column_id='id', column_sort='time',
                                         default_fc_parameters=extraction_settings)

In [ ]:
(X_filtered.columns == X_filtered_2.columns).all()